.setup {
    .additional-info {
        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .champion-image {
            width: 64px;
            height: 64px;
        }

        .masteries {

            .image-wrapper {
                height: 32px;
                width: 32px;
                padding: 2px;
            }
        }

        .champion-image,
        .masteries {
            display: inline-block;
        }

        .masteries>* {
            display: inline-block;
        }
    }
}