:root {
    --color-blue: #5b89fc;
    --color-darkblue: #1961FB;
    --color-red: #FF635C;
    --color-darkred: #FF3C31;
    --primary-color: #19b5fe;
    --primary-dark-color: #2574a9;
    --secondary-color: #3a539b;
    --background-color: #e4f1fe;
    --alert-color: #f783ac;
    --ff-ui: montserrat;
    --ff-general: 'Noto Sans TC', sans-serif; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

input {
    font-family: var(--ff-general);
}

html, body {
    font-family: var(--ff-general);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.right-nav {
    float: right;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 1s linear;
}

.settings-btn {
    font-size: 24px;
    color: white;
    padding: 0 5px;
}

.header {
    grid-area: header;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
    transition: height 0.25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    transition: opacity 0.25s linear;
}

.container.hide-entirely {
    opacity: 0;
}

.container:not(.hide) .header-content {
    width: 100%;
}

.container.hide .right-nav {
    display: none;
}

.search-wrapper {
    padding: 10px;
    background: #fff;
    width: 250px;
    outline: 5px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.25s linear;
    float: left;
    margin-left: calc(50% - 125px);
}

#input-name {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: transparent;
    width: 175px;
}

#input-name:focus::placeholder {
    color: transparent;
}

.aside, .main {
    margin-top: 20px;
    background-color: #fff;
    outline: 5px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    transition: opacity 0.25s linear;
}

.container.hide .aside, .container.hide .main, .container:not(.profile-loaded) .aside, .container:not(.profile-loaded) .main {
    opacity: 0;
}

.container.hide .header {
    height: 100%;
}

.container.loading .search-wrapper {
    background-color: #e9e9e9;
}

.aside {
    grid-area: aside;
    margin-left: 20px;
}

.main {
    grid-area: main;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    height: 100%;
}

.profile-name {
    margin-top: 0;
    text-align: center;
}

.recent-games {
    margin-top: 0!important;
}

.recent-games > .section-header {
    padding-bottom: 5px;
}

.profile-footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    opacity: 0.5;
    text-align: center;
}

.profile-icon {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.profile-level {
    color: #333;
    font-weight: bold;
}

.rank-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.rank-text, .rank-queue {
    font-size: 12px;
}

.rank-text.unranked {
    font-size: 16px;
}

.rank-info {
    text-align: center;
}

.section-header {
    display: flex;
    flex-flow: row nowrap;
}

.section-title {
    display: block;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    flex: 0 0 auto;
}

.section-line {
    background-color: #ebebeb;
    height: 2px;
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 5px;
}

.section {
    margin-top: 10px;
}

.match {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
}

.match.defeat {
    border: 5px solid var(--color-red);
}

.match.victory {
    border: 5px solid var(--color-blue);
}

.match > *:not(:first-child) {
    margin-left: 10px;
}

.score .deaths {
    color: red;
}

.result {
    font-weight: bold;
    padding: 5px 0;
}

.match.victory .result {
    color: var(--color-blue);
}

.match.defeat .result {
    color: var(--color-red);
}

.match-info {
    width: 100px;
}

.matches-wrapper {
    height: 430px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 2px -2px lightgrey;
    padding: 10px;
}

.match-status {
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
}

.match.victory .match-status {
    background-color: var(--color-blue);
}

.match.defeat .match-status {
    background-color: var(--color-red);
}

.champion-image, .masteries, .spell, .keystone, .rune-path {
    display: inline-block;
}

.champion-image img {
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 3px;
}

.summoner-spells img, .runes img {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 0;
    border-radius: 3px;
}

.summoner-spells :last-child {
    margin-top: 4px;
}

.additional-info img {
    display: block;
}

.summoner-spells, .runes {
    display: inline-block;
}

.keystone-description {
    max-width: 300px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    width: 140px;
    align-content: start;
}

.items img {
    display: block;
    width: 32px;
    height: 32px;
    margin: 1px;
    border: 0;
    border-radius: 3px;
}

.item-description {
    max-width: 300px;
}


.tooltip-container {
    position: relative;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 3px;
    z-index: 100;
    text-align: center;
}

.tooltip-content > span {
    display: block;
}

.tooltip-content span.line {
    height: 2px;
    background-color: lightgray;
}

.tooltip-content span.small {
    font-size: 8px;
}

.tooltip:hover + .tooltip-content {
    display: block;
}

.items img.no-image {
    border: 1px solid lightgray;
    opacity: 1;
}

.score, .stats {
    width: 100px;
}

#search-btn {
    cursor: pointer;
    color: gray;
    padding: 10px 5px;
}

#search-btn:hover {
    color: var(--secondary-color)
}

.section-content.matches-wrapper::-webkit-scrollbar {
    width: 10px;
}

.section-content.matches-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.section-content.matches-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.players {
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    width: 300px;
}

.team {
    flex: 0 0 50%;
}

.summoner {
    text-decoration: none;
    color: black;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: 20px;
}

.summoner-champ-icon {
    float: left;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.team .summoner:not(:first-child) {
    margin-top: 2px;
}

.settings-form:not(.show) {
    display: none;
}

.settings-form {
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 220px);
    z-index: 100;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: white;
    outline: 5px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.settings-form .close-btn {
    color: var(--alert-color);
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 20px;
}

.settings-form .save-btn {
    width: 350px;
}

.favorite-btn {
    color: gold;
}

.settings-form-header {
    margin-top: -15px;
}

.summoner-form {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.form-label {
    color: #5e5e5e;
}

.form-input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--primary-dark-color);
}

.form-input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.toast-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.toast {
    width: 200px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    padding: 5px;
    margin: 10px;
    animation: 0.25s ease-out 0s 1 slideInFromRight;
    transition: all 0.25s linear;
}

.toast.hide {
    transform: translateX(300px);
}

.toast.disappear {
    height: 0;
    margin: 0;
    padding: 0;
}

.toast .content {
    margin: 0;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    color: #1F2667
}

.match > div:not(:first-child) {
    margin-top: 10px;
}

.btn {
    outline: 5px solid rgba(34, 193, 195, 0.2);
    text-decoration: none;
    padding: 10px;
    background-color: rgba(34, 193, 195, 0.8);
    color: white;
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
}

.btn:hover {
    outline: 5px solid rgba(253, 187, 45, 0.2);
    background-color: rgba(253, 187, 45, 0.8);
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning > * {
    animation: rotating 2s linear infinite;
}

.summary-progress {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}

.progress {
    width: 0;
    height: 24px;
    transition: width 1s ease-out;
}

.progress.win {
    background-color: var(--color-blue);
}

.progress.lose {
    background-color: var(--color-red);
}

.progress span {
    text-align: center;
    display: block;
    color: white;
}

.container:not(.hide) .right-nav {
    opacity: 1;
}

.winratio-container {
    flex: 0 0 45%;
    margin: 0 auto;
}

.winratio-title {
    text-align: center;
    margin: 0;
}

.summary {
    display: flex;
    flex-flow: row nowrap;
}

.filter-container {
    flex: 0 0 50%;
    border-right: 2px solid #ebebeb;
}

.filter-btn {
    width: 120px;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    outline: 5px solid rgba(34, 193, 195, 0.2);
    padding: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgba(34, 193, 195, 0.8);
    color: white;
}

.select:hover {
    outline: 5px solid rgba(253, 187, 45, 0.2);
    background-color: rgba(253, 187, 45, 0.8);
}

.select.game-type {
    width: 200px;
    margin: 10px;
}

.load-more-btn {
    width: 99%;
    margin-left: 0.5%;
}

.mastery-image-wrapper {
    width: 84px;
    height: 80px;
}

.mastery-image-wrapper img {
    width: 80px;
}

.champions-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mastery-image-wrapper .champion-level {
    position: absolute;
    bottom: 0;
    background-color: rgb(255 255 255 / 50%);
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: bolder;
    font-size: 14px;
}

.champ-description {
    max-width: 300px;
}

.damage-meter {
    border: 1px solid var(--color-red);
    height: 20px;
    margin-top: 5px;
}

.damage {
    height: 100%;
    width: 50%;
    background-color: var(--color-darkred);
    color: white;
    font-size: 11px;
    min-width: fit-content;
}

.recently-times {
    flex: 0 0 80px;
    text-align: center;
}

.recently-summoner .section-line {
    background: linear-gradient(90deg, #3A1C71 0%, #FDBB2D 100%);
    margin-top: 24px;
    margin-left: 0;
}

.recently-summoner .summoner {
    border-bottom: 2px solid #3A1C71;
    height: unset;
}

.recently-summoner .recently-times {
    border-bottom: 2px solid #FDBB2D;
}

.bot-label {
    color: lightgray;
    font-weight: bold;
}

a.btn[disabled] {
    opacity: 0.7;
}

img:not(.img-loaded) {
    opacity: 0;
}

img.img-loaded {
    opacity: 1;
}

img {
    transition: opacity 0.25s linear;
}

.details-btn {
    font-size: 30px;
    color: #00C9FF;
    margin: auto;
}

.match-details-container:not(.open) {
    display: none;
}

.match-details-container {
    position: fixed;
    top: calc(50% - 270px);
    left: calc(50% - 520px);
    z-index: 100;
    width: 1000px;
    height: 500px;
    padding: 20px;
    background-color: white;
    outline: 5px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.match-details-container .close-btn {
    color: var(--alert-color);
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 20px;
}

.player-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.player-score > span {
    display: block;
}

.player-name {
    margin: auto 0;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.match-details-content .team:last-child .player-info {
    flex-flow: row-reverse;
}

.match-details-content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    font-size: 14px;
    justify-content: space-between;
}

.match-details-content .team {
    flex: 0 0 45%;
}