:root {
    --color-blue: #5b89fc;
    --color-darkblue: #1961FB;
    --color-red: #FF635C;
    --color-darkred: #FF3C31;
}

html, body {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

.header {
    grid-area: header;
    text-align: center;
}

.aside {
    grid-area: aside;
    padding-left: 100px;
}

.main {
    grid-area: main;
    margin-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 50px 100%;
    grid-template-areas: 
    "header header"
    "aside main";
    height: 100%;
}

.profile-name {
    margin-top: 0;
}

.profile-footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    opacity: 0.5;
    text-align: center;
}

.profile-icon {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
}

.profile-level {
    color: #333;
    font-weight: bold;
}

.rank-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.rank-text, .rank-queue {
    font-size: 12px;
}

.rank-info {
    text-align: center;
}

.section-title {
    width: 20%;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
}

.section-line {
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius:1px;
    width: 78%;
    vertical-align: middle;
}

.section {
    margin-top: 10px;
}

.match {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    padding-bottom: 5px;
}

.matches-wrapper {
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 2px -2px lightgrey;
}

.match-status {
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
}

.match.victory .match-status {
    background-color: var(--color-blue);
}

.match.defeat .match-status {
    background-color: var(--color-red);
}