.match-info {
    width: 100px;

    .result {
        font-weight: bold;
        padding: 5px 0;

        &.defeat {
            color: var(--color-red);
        }

        &.victory {
            color: var(--color-blue);
        }
    }
}