.score {
    width: 100px;

    .damage-meter {
        border: 1px solid var(--color-red);
        height: 20px;
        margin-top: 5px;
    }

    .damage {
        height: 100%;
        width: 50%;
        background-color: var(--color-darkred);
        color: white;
        font-size: 11px;
        min-width: fit-content;
    }

    .deaths {
        color: red;
    }
}