.wrapper {
    flex: 0 0 50%;
    border-right: 2px solid #ebebeb;
    margin: auto 0;

    select {
        -webkit-appearance: none;
        border: none;
        font-family: inherit;
        width: 200px;
        margin: 10px;
        min-width: 15ch;
        max-width: 30ch;
        outline: 5px solid rgba(34, 193, 195, 0.2);
        padding: 10px;
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
        background-color: rgba(34, 193, 195, 0.8);
        color: white;

        &::after {
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: white;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }

        &:hover {
            outline: 5px solid rgba(253, 187, 45, 0.2);
            background-color: rgba(253, 187, 45, 0.8);
        }
    }
}