:root {
  --color-blue: #5b89fc;
  --color-darkblue: #1961FB;
  --color-red: #FF635C;
  --color-darkred: #FF3C31;
  --primary-color: #19b5fe;
  --primary-dark-color: #2574a9;
  --secondary-color: #3a539b;
  --background-color: #e4f1fe;
  --alert-color: #f783ac;
  --ff-ui: montserrat;
  --ff-general: 'Noto Sans TC', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
}

input {
  font-family: var(--ff-general);
}

html,
body {
  font-family: var(--ff-general);
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.section-content.mastery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.profile-name {
  margin-top: 0;
  text-align: center;
}

.recent-games {
  margin-top: 0 !important;
}

.recent-games>.section-header {
  padding-bottom: 5px;
}

.profile-footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}

.profile-icon {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  width: 200px;
  margin: 0 auto;
  user-select: none;
}

.profile-level {
  color: #333;
  font-weight: bold;
}

.rank-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.rank-text,
.rank-queue {
  font-size: 12px;
}

.rank-text.unranked {
  font-size: 16px;
}

.rank-info {
  text-align: center;
}

.settings-form:not(.show) {
  display: none;
}

.settings-form {
  position: fixed;
  top: calc(50% - 120px);
  left: calc(50% - 220px);
  z-index: 100;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: white;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.settings-form .close-btn {
  color: var(--alert-color);
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.settings-form .save-btn {
  width: 350px;
}

.settings-form-header {
  margin-top: -15px;
}

.summoner-form {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.form-label {
  color: #5e5e5e;
}

.form-input {
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--primary-dark-color);
}

.form-input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.toast {
  width: 200px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding: 5px;
  margin: 10px;
  animation: 0.25s ease-out 0s 1 slideInFromRight;
  transition: all 0.25s linear;
}

.toast.hide {
  transform: translateX(300px);
}

.toast.done {
  display: none;
}

.toast .content {
  margin: 0;
  background-color: white;
  padding: 5px;
  text-align: center;
  font-size: 24px;
  color: #1F2667
}

.btn {
  border: 0;
  outline: 5px solid rgba(34, 193, 195, 0.2);
  text-decoration: none;
  padding: 10px;
  background-color: rgba(34, 193, 195, 0.8);
  color: white;
  display: inline-block;
  margin: 10px 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  outline: 5px solid rgba(253, 187, 45, 0.2);
  background-color: rgba(253, 187, 45, 0.8);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinning>* {
  animation: rotating 2s linear infinite;
}

a.btn[disabled] {
  opacity: 0.7;
}

img {
  transition: opacity 0.25s linear;
}

.details-btn {
  font-size: 30px;
  color: gray;
  margin: auto;
}

.match-details-container:not(.open) {
  display: none;
}

.match-details-container {
  position: fixed;
  top: calc(50% - 270px);
  left: calc(50% - 675px);
  z-index: 100;
  width: 1350px;
  height: 500px;
  padding: 20px;
  background-color: white;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.match-details-container .close-btn {
  color: var(--alert-color);
  font-size: 24px;
  float: right;
}

.match-details-container .match-details-header-content {
  float: left;
}

.match-details-header-content>span:not(:last-child)::after {
  content: '•';
  margin: 0 10px;
  color: darkgray;
  font-size: 15px;
}

.player-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.player-score>span {
  display: block;
}

.player-name {
  margin: auto 0;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.match-details-content {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
  font-size: 14px;
  justify-content: space-between;
}

.match-details-content .champion-image img {
  height: 64px;
  width: 64px;
}

.match-details-content .summoner-spells img,
.match-details-content .summoner-spells>div,
.match-details-content .runes img,
.match-details-content .runes>div {
  height: 31px;
  width: 31px;
}

.match-details-content .summoner-spells> :last-child,
.match-details-content .runes> :last-child {
  margin-top: 2px;
}

.summoner-info {
  margin: auto 0;
}

.player-name {
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
}

.match-details-content .stats {
  width: 170px;
  display: flex;
  flex-flow: row wrap;
}

.match-details-content .rank,
.match-details-content .score {
  flex: 0 0 50%;
  height: fit-content;
}

.match-details-content .damage-container {
  flex: 0 0 100%;
}

.match-details-content .team {
  flex: 0 0 49%;
  background-color: #f7f7f7;
}

.match-details-content .team-separator {
  height: 100%;
  width: 5px;
  background-color: #e9e9e9;
}

.player-score {
  width: 80px;
}

.team.lose .team-header {
  background-color: var(--color-red);
}

.team.win .team-header {
  background-color: var(--color-blue);
}

.team-header {
  color: white;
  margin-bottom: 5px;
}

.team .team-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 15px;
  font-weight: 600;
  border-top: 2px solid #e9e9e9;
  margin: 5px;
}

.team .team-footer .first {
  position: relative;
}

.team .team-footer .first:after {
  content: 'First';
  font-size: 9px;
  position: absolute;
  width: 20px;
  color: var(--color-red);
  font-weight: 600;
  top: -7px;
  left: 0;
}

.spectate-badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 8px;
}

.spectate-badge.ingame {
  background-color: green;
}